USE [master]
GO
/****** Объект:  Database [NetworkMonitoringDB]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
CREATE DATABASE [NetworkMonitoringDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetworkMonitoringDB', FILENAME = N'D:\DataBases\MSSQL16.MSSQLSERVER\MSSQL\DATA\NetworkMonitoringDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NetworkMonitoringDB_log', FILENAME = N'D:\DataBases\MSSQL16.MSSQLSERVER\MSSQL\DATA\NetworkMonitoringDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetworkMonitoringDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetworkMonitoringDB]
GO
/****** Объект:  Table [dbo].[Главный_администратор]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Главный_администратор](
	[ID_Администратора] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[Роль] [nvarchar](30) NOT NULL,
	[Логин] [nvarchar](20) NOT NULL,
	[Пароль] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Администратора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Журнал_инцидентов]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Журнал_инцидентов](
	[ID_Отчёта] [int] IDENTITY(1,1) NOT NULL,
	[ID_Устройства] [int] NOT NULL,
	[Результат_мониторинга] [nvarchar](50) NOT NULL,
	[Метка_времени] [datetime2](7) NOT NULL,
	[Время_ответа_мс] [int] NULL,
	[Описание_инцидента] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Отчёта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Пользователь]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[ID_Пользователя] [int] IDENTITY(1,1) NOT NULL,
	[ID_Администратора] [int] NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[Роль] [nvarchar](30) NOT NULL,
	[Логин] [nvarchar](20) NOT NULL,
	[Пароль] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Сетевая_служба]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сетевая_служба](
	[ID_Службы] [int] IDENTITY(1,1) NOT NULL,
	[Название_Службы] [nvarchar](50) NOT NULL,
	[Порт] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Службы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Сетевое_устройство]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сетевое_устройство](
	[ID_Устройства] [int] IDENTITY(1,1) NOT NULL,
	[ID_Пользователя] [int] NOT NULL,
	[IP_адрес] [varchar](100) NOT NULL,
	[Название_устройства] [nvarchar](50) NOT NULL,
	[Местоположение] [nvarchar](200) NOT NULL,
	[Имя_хоста] [varchar](100) NOT NULL,
	[Версия_прошивки] [varchar](100) NOT NULL,
	[Срок_гарантии] [date] NULL,
	[Текущий_статус] [varchar](10) NULL,
	[Флаг_мониторинга] [bit] NOT NULL,
	[Guid_Устройства] [uniqueidentifier] NOT NULL,
	[Стоимость_Обслуживания] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Устройства] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Устройство_Служба]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Устройство_Служба](
	[ID_Устройства] [int] NOT NULL,
	[ID_Службы] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Устройства] ASC,
	[ID_Службы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Главный_администратор] ON 

INSERT [dbo].[Главный_администратор] ([ID_Администратора], [ФИО], [Роль], [Логин], [Пароль]) VALUES (1, N'Иванов Иван Иванович', N'SuperAdmin', N'admin1', N'pass123')
INSERT [dbo].[Главный_администратор] ([ID_Администратора], [ФИО], [Роль], [Логин], [Пароль]) VALUES (2, N'Петров Петр Петрович', N'SecurityAdmin', N'admin2', N'secure456')
SET IDENTITY_INSERT [dbo].[Главный_администратор] OFF
GO
SET IDENTITY_INSERT [dbo].[Журнал_инцидентов] ON 

INSERT [dbo].[Журнал_инцидентов] ([ID_Отчёта], [ID_Устройства], [Результат_мониторинга], [Метка_времени], [Время_ответа_мс], [Описание_инцидента]) VALUES (1, 1, N'Доступен', CAST(N'2026-06-19T21:14:12.1166667' AS DateTime2), 4, N'Плановая проверка связи, устройство работает стабильно.')
INSERT [dbo].[Журнал_инцидентов] ([ID_Отчёта], [ID_Устройства], [Результат_мониторинга], [Метка_времени], [Время_ответа_мс], [Описание_инцидента]) VALUES (2, 3, N'Критическая ошибка', CAST(N'2026-06-19T21:14:12.1166667' AS DateTime2), NULL, N'Устройство не отвечает на ICMP пинги более 5 минут.')
INSERT [dbo].[Журнал_инцидентов] ([ID_Отчёта], [ID_Устройства], [Результат_мониторинга], [Метка_времени], [Время_ответа_мс], [Описание_инцидента]) VALUES (3, 3, N'Восстановление', CAST(N'2026-06-19T21:14:12.1166667' AS DateTime2), 12, N'Связь с устройством восстановлена после перезагрузки.')
SET IDENTITY_INSERT [dbo].[Журнал_инцидентов] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователь] ON 

INSERT [dbo].[Пользователь] ([ID_Пользователя], [ID_Администратора], [ФИО], [Роль], [Логин], [Пароль]) VALUES (1, 1, N'Сидоров Алексей Николаевич', N'Инженер', N'sidorov_a', N'qwerty')
INSERT [dbo].[Пользователь] ([ID_Пользователя], [ID_Администратора], [ФИО], [Роль], [Логин], [Пароль]) VALUES (2, 1, N'Козлов Дмитрий Сергеевич', N'Оператор', N'kozlov_d', N'12345')
INSERT [dbo].[Пользователь] ([ID_Пользователя], [ID_Администратора], [ФИО], [Роль], [Логин], [Пароль]) VALUES (3, 2, N'Морозова Елена Викторовна', N'Аналитик', N'morozova_e', N'password')
SET IDENTITY_INSERT [dbo].[Пользователь] OFF
GO
SET IDENTITY_INSERT [dbo].[Сетевая_служба] ON 

INSERT [dbo].[Сетевая_служба] ([ID_Службы], [Название_Службы], [Порт]) VALUES (1, N'HTTP', 80)
INSERT [dbo].[Сетевая_служба] ([ID_Службы], [Название_Службы], [Порт]) VALUES (2, N'HTTPS', 443)
INSERT [dbo].[Сетевая_служба] ([ID_Службы], [Название_Службы], [Порт]) VALUES (3, N'SSH', 22)
SET IDENTITY_INSERT [dbo].[Сетевая_служба] OFF
GO
SET IDENTITY_INSERT [dbo].[Сетевое_устройство] ON 

INSERT [dbo].[Сетевое_устройство] ([ID_Устройства], [ID_Пользователя], [IP_адрес], [Название_устройства], [Местоположение], [Имя_хоста], [Версия_прошивки], [Срок_гарантии], [Текущий_статус], [Флаг_мониторинга], [Guid_Устройства], [Стоимость_Обслуживания]) VALUES (1, 1, N'192.168.1.1', N'Главный Маршрутизатор Cisco', N'Серверная 401', N'cisco-main-router', N'IOS 15.6', CAST(N'2027-12-31' AS Date), N'online', 1, N'94123362-b2fd-4a8b-95dd-d248cd0a4345', CAST(1500.50 AS Decimal(10, 2)))
INSERT [dbo].[Сетевое_устройство] ([ID_Устройства], [ID_Пользователя], [IP_адрес], [Название_устройства], [Местоположение], [Имя_хоста], [Версия_прошивки], [Срок_гарантии], [Текущий_статус], [Флаг_мониторинга], [Guid_Устройства], [Стоимость_Обслуживания]) VALUES (2, 1, N'192.168.1.10', N'Коммутатор доступа HP', N'Кабинет 202', N'hp-switch-floor2', N'HP-Ware v7', CAST(N'2026-06-01' AS Date), N'online', 1, N'f6dcfc6f-1d17-44dc-bd3d-bc2260c5f01d', CAST(450.00 AS Decimal(10, 2)))
INSERT [dbo].[Сетевое_устройство] ([ID_Устройства], [ID_Пользователя], [IP_адрес], [Название_устройства], [Местоположение], [Имя_хоста], [Версия_прошивки], [Срок_гарантии], [Текущий_статус], [Флаг_мониторинга], [Guid_Устройства], [Стоимость_Обслуживания]) VALUES (3, 2, N'192.168.2.50', N'Сетевое хранилище NAS Synology', N'Архив', N'nas-storage-01', N'DSM 7.1', CAST(N'2025-01-15' AS Date), N'offline', 1, N'f5b2478e-62c8-4d7d-ab35-59cdfb4db8fc', CAST(890.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Сетевое_устройство] OFF
GO
INSERT [dbo].[Устройство_Служба] ([ID_Устройства], [ID_Службы]) VALUES (1, 3)
INSERT [dbo].[Устройство_Служба] ([ID_Устройства], [ID_Службы]) VALUES (1, 4)
INSERT [dbo].[Устройство_Служба] ([ID_Устройства], [ID_Службы]) VALUES (2, 3)
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Главный___BC2217D3C33F0642]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
ALTER TABLE [dbo].[Главный_администратор] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Пользова__BC2217D341DCE1AC]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
ALTER TABLE [dbo].[Пользователь] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Сетевая___19F94F3FCF9B3953]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
ALTER TABLE [dbo].[Сетевая_служба] ADD UNIQUE NONCLUSTERED 
(
	[Название_Службы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ_Device_Host_IP]    Дата создания скрипта: 19.06.2026 21:29:47 ******/ 
ALTER TABLE [dbo].[Сетевое_устройство] ADD  CONSTRAINT [UQ_Device_Host_IP] UNIQUE NONCLUSTERED 
(
	[Имя_хоста] ASC,
	[IP_адрес] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Журнал_инцидентов] ADD  DEFAULT (getdate()) FOR [Метка_времени]
GO
ALTER TABLE [dbo].[Сетевое_устройство] ADD  DEFAULT ('offline') FOR [Текущий_статус]
GO
ALTER TABLE [dbo].[Сетевое_устройство] ADD  DEFAULT ((1)) FOR [Флаг_мониторинга]
GO
ALTER TABLE [dbo].[Сетевое_устройство] ADD  DEFAULT (newid()) FOR [Guid_Устройства]
GO
ALTER TABLE [dbo].[Сетевое_устройство] ADD  DEFAULT ((0.00)) FOR [Стоимость_Обслуживания]
GO
ALTER TABLE [dbo].[Журнал_инцидентов]  WITH CHECK ADD FOREIGN KEY([ID_Устройства])
REFERENCES [dbo].[Сетевое_устройство] ([ID_Устройства])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Пользователь]  WITH CHECK ADD FOREIGN KEY([ID_Администратора])
REFERENCES [dbo].[Главный_администратор] ([ID_Администратора])
GO
ALTER TABLE [dbo].[Сетевое_устройство]  WITH CHECK ADD FOREIGN KEY([ID_Пользователя])
REFERENCES [dbo].[Пользователь] ([ID_Пользователя])
GO
ALTER TABLE [dbo].[Устройство_Служба]  WITH CHECK ADD FOREIGN KEY([ID_Службы])
REFERENCES [dbo].[Сетевая_служба] ([ID_Службы])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Устройство_Служба]  WITH CHECK ADD FOREIGN KEY([ID_Устройства])
REFERENCES [dbo].[Сетевое_устройство] ([ID_Устройства])
ON DELETE CASCADE
GO
USE [master]
GO
